<div class="container">
    <h2>Weekly Spread Table</h2>
    <form id="spreadForm" novalidate 
    (ngSubmit)="handleNewSpread(spreadForm.value)" 
    #spreadForm="ngForm">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Matchup</th>
                    <th>Line</th>
                    <th>O/U</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of spreadList; let id=index">
                    <td>{{item.gameDateTime | date:'EEEE M/d/yy h:mm a'}}</td>
                    <td>
                        <p>{{item.visitor}}</p>
                        <p>{{item.home}}</p>

                    </td>
                    <td>
                        <p>{{item.visitorLine}}</p>
                        <span contenteditable="true" style="background:blue"  (blur)="updateList(id, 'homeLine', $event)">{{item.homeLine}}</span>
                    </td>
                    <td>
                        <p>---</p>
                        <span contenteditable="true" style="background:blue"  (blur)="updateList(id, 'OULine', $event)">{{item.OULine}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>