<div class="grid-container">
    <h1 class="mat-h1">{{title}}</h1>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile colspan="4">1</mat-grid-tile>
        <mat-grid-tile rowspan="5">
            <app-cardstatic></app-cardstatic>
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile>
        <mat-grid-tile>10</mat-grid-tile>
        <mat-grid-tile>11</mat-grid-tile>
        <mat-grid-tile>12</mat-grid-tile>
        <mat-grid-tile>13</mat-grid-tile>
        <mat-grid-tile>14</mat-grid-tile>
        <mat-grid-tile>15</mat-grid-tile>
        <mat-grid-tile colspan="4">16</mat-grid-tile>
    </mat-grid-list>
</div>