# Configure network installation
url --url=ftp://10.2.1.101/pub
text

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

zerombr

# Partition clearing information
clearpart --all --drives=sda
ignoredisk --only-use=sda
autopart

# Network information
network --device=ens192 --ipv6=auto --activate --gateway=10.2.1.1
network --hostname=newhost.stark.columbia.sme-corp.net

# Root password - encrypt later 
rootpw password

# Install on first disk available
install --firstdisk --overwritevmfs

# Run the Setup Agent on first boot
firstboot --enable
# Accept Eula
eula --agreed
# Reboot afer installing
reboot

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# System timezone
timezone America/New_York --isUtc

%packages
@base
@core
@^server-product-environment
chrony
vim
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
route add default gw 10.2.1.1
yum install -y epel-release
yum install -y https://repo.saltstack.com/py3/redhat/salt-py3-repo-latest.el8.noarch.rpm
yum install -y salt-minion
echo "10.2.1.101 salt" >> /etc/hosts

#configure salt#
cat > /etc/salt/minion.d/grains.conf << EOF
grains:
  roles:
    - kubernetes
EOF

#done configuring salt#
systemctl enable salt-minion.service
systemctl start salt-minion.service

dnf remove podman -y
dnf config-manager --add-repo=https://download.docker.com/linux/centos/docker-ce.repo
dnf install docker-ce --nobest -y
systemctl start docker
systemctl enable docker
%end
